---
import { type TMetaInformation } from "@lib/types";

import LayoutAccountAuthentication from "@layouts/LayoutAccountAuthentication.astro";
import InputGroup from "@components/InputGroup/InputGroup.astro";

const meta: TMetaInformation = {
  lang: "en",
  title: `New account`,
  description: ``,
  ogImage: ``,
};
---

<LayoutAccountAuthentication meta={meta}>
  <!-- Content -->
  <div class="text-md mb-8">
    <h3 class="mb-6 font-semibold text-primary-800">Choosing a password</h3>
    <p class="mb-4">
      Don't worry, it does not have to follow any complicated rules. Just make
      it as long as possible.
    </p>
  </div>

  <!-- Form -->
  <form action="/dashboard" method="POST">
    <InputGroup
      attributes={{ class: `mb-4` }}
      label={{ text: "Password" }}
      input={{
        attributes: {
          name: "password",
          id: "password",
          type: "password",
          required: "",
          autofocus: "",
        },
        appearance: "white",
      }}
    />
    <InputGroup
      attributes={{ class: `mb-8` }}
      label={{ text: "Password again" }}
      input={{
        attributes: {
          name: "password-again",
          id: "password-again",
          type: "password",
          required: "",
        },
        appearance: "white",
      }}
    />
    <div>
      <button
        type="submit"
        class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm transition hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
      >
        Set password
      </button>
    </div>
  </form>

  {/* //////// Heading //////// */}
  <span slot="heading">New account</span>

  {/* //////// Footer //////// */}
  <div slot="footer">
    <a
      href="/sign-in/check-inbox-only"
      class="font-medium leading-6 text-primary-600 underline decoration-transparent underline-offset-2 transition hover:text-primary-500 hover:decoration-primary-500/25 focus-visible:rounded-sm focus-visible:outline focus-visible:outline-offset-2"
    >
      Use magic link only
    </a>
  </div>
</LayoutAccountAuthentication>
