---
import { type TMetaInformation } from "@lib/types";
import { SITE_TITLE } from "@scripts/data/constants";
import DemoHelper from "@components/DemoHelper/DemoHelper.astro";

import LayoutAccountAuthentication from "@layouts/LayoutAccountAuthentication.astro";
import Icon from "@components/Icon/Icon.astro";

import { IconDataEmailActionReadDocument } from "@scripts/icons/streamline/light.mjs";

const meta: TMetaInformation = {
  lang: "en",
  title: `Sign in`,
  description: ``,
  ogImage: ``,
};
---

<LayoutAccountAuthentication meta={meta}>
  <!-- Content -->
  <div class="text-center">
    <div class="flex justify-center pb-6 pt-2 text-primary-400">
      <Icon
        data={IconDataEmailActionReadDocument}
        attributes={{ class: `h-16 w-16` }}
      />
    </div>
    <h3 class="mb-2 font-semibold text-primary-800">Check your inbox</h3>
    <p class="text-sm text-stone-700/70">
      We have sent you a magic link. If you did not receive the email,
      <button
        type="button"
        class="font-medium underline decoration-primary-700/25 underline-offset-2 outline-none transition hover:text-primary-700 hover:decoration-primary-700/50 focus-visible:rounded-sm focus-visible:outline focus-visible:outline-offset-1"
      >
        send a new one
      </button>.
    </p>
  </div>

  {/* //////// Heading //////// */}
  <span slot="heading">Sign in to {SITE_TITLE}</span>

  {/* //////// Footer //////// */}
  <div slot="footer">
    <a
      href="/sign-in"
      class="font-normal leading-6 text-stone-500 underline decoration-transparent underline-offset-2 transition hover:text-stone-700 hover:decoration-stone-700/25 focus-visible:rounded-sm focus-visible:outline focus-visible:outline-offset-2"
    >
      Back to sign in
    </a>
  </div>

  {/* //////// Demo only //////// */}
  <DemoHelper
    button={{
      name: "Proceed to next view",
      href: "/dashboard",
    }}
  />
</LayoutAccountAuthentication>
