---
import { type TMetaInformation } from "@lib/types";
import DemoHelper from "@components/DemoHelper/DemoHelper.astro";

import LayoutAccountAuthentication from "@layouts/LayoutAccountAuthentication.astro";
import Icon from "@components/Icon/Icon.astro";

import { IconDataEmailActionReadDocument } from "@scripts/icons/streamline/light.mjs";

const meta: TMetaInformation = {
  lang: "en",
  title: `Reset link sent`,
  description: ``,
  ogImage: ``,
};
---

<LayoutAccountAuthentication meta={meta}>
  <!-- Content -->
  <div class="text-center">
    <div class="flex justify-center pb-6 pt-2 text-primary-400">
      <Icon
        data={IconDataEmailActionReadDocument}
        attributes={{ class: `h-16 w-16` }}
      />
    </div>
    <h3 class="mb-2 font-semibold text-primary-800">Check your inbox</h3>
    <p class="text-sm text-stone-700/70">
      We have sent you a password reset link and instructions on how to set a
      new password.
    </p>
  </div>

  {/* //////// Heading //////// */}
  <span slot="heading">Reset link sent</span>

  {/* //////// Footer //////// */}
  <div slot="footer">
    <a
      href="/sign-in"
      class="font-normal leading-6 text-stone-500 underline decoration-transparent underline-offset-2 transition hover:text-stone-700 hover:decoration-stone-700/25 focus-visible:rounded-sm focus-visible:outline focus-visible:outline-offset-2"
    >
      Back to sign in
    </a>
  </div>

  {/* //////// Demo only //////// */}
  <DemoHelper
    button={{
      name: "Proceed to next view",
      href: "/forgot-password/reset-password",
    }}
  />
</LayoutAccountAuthentication>
