---
import { type TMetaInformation } from "@lib/types";

import LayoutBlank from "@layouts/LayoutBlank.astro";
import Logo from "@components/Logo/Logo.astro";
import InputGroup from "@components/InputGroup/InputGroup.astro";

const meta: TMetaInformation = {
  lang: "en",
  title: `Forgot password`,
  description: ``,
  ogImage: ``,
};
---

<LayoutBlank meta={meta} htmlClass="h-full bg-stone-100" bodyClass="h-full">
  <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <Logo attributes={{ width: "40", height: "40", class: `mx-auto` }} />
      <h2
        class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-stone-900"
      >
        Forgot password?
      </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[426px]">
      <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
        <div class="text-md mb-8">
          <h3 class="mb-6 font-semibold text-primary-800">
            Setting a new password
          </h3>
          <p class="mb-4">
            Enter your email address and we’ll send you a link which will allow
            you to set a new password.
          </p>
        </div>

        <form action="#" method="POST" id="emailForm">
          <InputGroup
            attributes={{ class: `mb-8` }}
            label={{ text: "Email address" }}
            input={{
              attributes: {
                name: "email",
                id: "email",
                type: "email",
                inputtype: "email",
                required: "",
                autofocus: "",
              },
              appearance: "white",
            }}
          />

          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm transition hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600"
            >
              Send reset link
            </button>
          </div>
        </form>
      </div>

      <p class="mt-10 text-center text-sm text-stone-500">
        <a
          href="/sign-in"
          class="font-normal leading-6 text-stone-500 underline decoration-transparent underline-offset-2 transition hover:text-stone-700 hover:decoration-stone-700/25 focus-visible:rounded-sm focus-visible:outline focus-visible:outline-offset-2"
        >
          Back to sign in
        </a>
      </p>
    </div>
  </div>
</LayoutBlank>

<script>
  const emailForm = document.getElementById("emailForm");
  const emailInput = document.getElementById("email") as HTMLInputElement;
  const savedEmail = sessionStorage.getItem("userEmail");

  if (emailInput && savedEmail) {
    emailInput.value = savedEmail;
  }

  function handleFormSubmit(event: Event) {
    event.preventDefault();
    window.location.href = "/forgot-password/reset-link-sent";
  }

  // Add the event listener to the form submission
  if (emailForm) {
    emailForm.addEventListener("submit", handleFormSubmit);
  }
</script>
