---
import { type TProps } from "@components/HeadElements/HeadElements.types";
import { SITE_TITLE } from "@scripts/data/constants";

const props: TProps = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>
  {props.meta?.title || ""}
  {props.meta?.title && " - "}
  {SITE_TITLE}
</title>
<meta name="description" content={props.meta?.description || ""} />

{props.meta?.ogImage && <meta property="og:image" content={props.meta.ogImage} />}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;700&display=swap"
  rel="stylesheet"
/>

<link rel="manifest" href="/manifest.webmanifest" />
<link rel="icon" href="/icons/favicon.ico" sizes="32x32" />
<link rel="icon" href="/icons/icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
