@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-padding-x: theme(padding.4);
  --header-height: 3.75rem;
}

@media screen(sm) {
  :root {
    --container-padding-x: theme(padding.6);
  }
}

@media screen(lg) {
  :root {
    --container-padding-x: theme(padding.8);
  }
}

@layer base {
  html {
    color: theme("colors.common.700");
    background-color: theme("colors.common.50");
  }

  body,
  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @supports (min-height: 100dvh) {
    body,
    #app {
      min-height: 100dvh;
    }
  }

  ::selection {
    color: theme("colors.primary.850");
    background-color: theme("colors.primary.300 / 40%");
  }

  :focus-visible {
    outline: theme("colors.primary.650", "currentColor") solid 2px;
    outline-offset: 1px;
  }
}

@layer components {
  .dummy-scrollbar-gutter {
    --tw-content: "\00a0";
    line-height: 99999px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: -999px;
    clip-path: border-box inset(999px 0 0 0);
    overflow-y: scroll;
    pointer-events: none;
  }
}
