---
import { type TLayoutProps } from "@lib/types";
import { htmlClass } from "@lib/cssClasses";
import HeadElements from "@components/HeadElements/HeadElements.astro";

const props: TLayoutProps = Astro.props;
---

<html lang={props.meta?.lang || "en"} class:list={[htmlClass, props.htmlClass]}>
  <head>
    <HeadElements meta={props.meta} />
  </head>

  <body class:list={[props.bodyClass]}>
    <slot />

    <script>
      sessionStorage.setItem("lastPageSeen", window.location.href);
    </script>
  </body>
</html>
